<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <title>MoviesList</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>MoviesList</h1>

  <div id="app" ng-controller="AppController as AppCtrl">
    <form action="#">
      <input type="text" id="title-input" ng-model="title" placeholder="title"></input>

      <textarea id="synopsis" name="synopsis-input" ng-model="synopsis" cols="30" rows="10" placeholder="Synopsis"></textarea>

      <select id="genre-input" name="genre" ng-model="genre" placeholder="Genre">
        <option value="">Action</option>
        <option value="">Fantastique</option>
      </select>

      <input type="text" id="image-input" ng-model="image" placeholder="Image"></input>

      <textarea id="actor-list-input" name="actor-list" ng-model="actorList" cols="30" rows="10" placeholder="Actor list"></textarea>

      <input class="submit" type="submit" ng-click="AppCtrl.submitMovie($event)">
    </form>

    <ul id="movies-list" ng-repeat="movie in movies">
      <li>
        <h2>{{ movie.title }}</h2>
        <p class="synopsis">{{ movie.synopsis }}</p>
        <p class="genre">{{ movie.genre }}</p>
        <img class="image" width="100px" src="{{ movie.image }}" />
        <p class="actor-list">{{ movie.actorList }}</p>
      </li>
    </ul>
  </div>

</body>

  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

  <script type="text/javascript" charset="utf-8" src="angular.js"></script>
</html>
